@model IEnumerable<FishingStore.Web.ViewModels.FullSet.FullSetIndexViewModel>

@{
    ViewData["Title"] = "Your Full Sets";
}

<h1>Your Full Sets</h1>

<table class="table">
    <thead>
    <tr>
        <th>User</th>
        <th>Rod</th>
        <th>Reel</th>
        <th>Line</th>
        <th>Hook</th>
        <th>Total Price</th>
        <th>Discounted Price (10% Off)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var fullSet in Model)
    {
        <tr>
            <td>

                <strong>Id:</strong> @fullSet.UserGuid<br/>
                <strong>User Name:</strong> @fullSet.UserName
            </td>
            <td>
                @fullSet.RodBrand @fullSet.RodModel<br/>
                <strong>Price:</strong> @fullSet.RodPrice.ToString("C")
            </td>
            <td>
                @fullSet.ReelBrand @fullSet.ReelModel<br/>
                <strong>Price:</strong> @fullSet.ReelPrice.ToString("C")
            </td>
            <td>
                @fullSet.LineBrand @fullSet.LineModel<br/>
                <strong>Price:</strong> @fullSet.LinePrice.ToString("C")
            </td>
            <td>
                @fullSet.HookBrand @fullSet.HookModel<br/>
                <strong>Price:</strong> @fullSet.HookPrice.ToString("C")
            </td>
            <td>
                @fullSet.TotalPrice.ToString("C")
            </td>
            <td>
                @fullSet.DiscountedPrice.ToString("C")
            </td>
            <td>
                <a href="@Url.Action("Index", "Comment", new { id = fullSet.FullSetGuid })" class="btn btn-info">Details</a>
                <a href="@Url.Action("Edit", "FullSet", new { id = fullSet.FullSetGuid })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Delete", "FullSet", new { id = fullSet.FullSetGuid })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this full set?')">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a href="@Url.Action("Create", "FullSet")" class="btn btn-success">Create New Full Set</a>
</div>