@using Microsoft.AspNetCore.Mvc.TagHelpers

@using FishingStore.Web.ViewModels.Rod
@using FishingStore.Data.Models.Enums
@model RodEditInputModel

@{
    ViewData["Title"] = "Edit Rod";
}

<h2>Edit Rod</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">

    <input type="hidden" name="id" value="@Model.Guid" />
    <div class="form-group">
        <label asp-for="@Model.Brand" class="control-label"></label>
        <input asp-for="@Model.Brand" class="form-control" aria-required="true"/>
        <span asp-validation-for="@Model.Brand" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Model" class="control-label"></label>
        <input asp-for="@Model.Model" class="form-control" aria-required="true"/>
        <span asp-validation-for="@Model.Model" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Length" class="control-label"></label>
        <input asp-for="@Model.Length" class="form-control" aria-required="true"/>
        <span asp-validation-for="@Model.Length" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Action" class="control-label"></label>
        <input asp-for="@Model.Action" class="form-control" aria-required="true"/>
        <span asp-validation-for="@Model.Action" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.FishingType" class="control-label"></label>
        <select asp-for="@Model.FishingType" asp-items="Html.GetEnumSelectList<FishingType>()">
            <option selected="selected" value="">Please select</option>
        </select>
        <span asp-validation-for="@Model.FishingType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description" class="control-label"></label>
        <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Price" class="control-label"></label>
        <input asp-for="@Model.Price" class="form-control" aria-required="true"/>
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ImageUrl" class="control-label"></label>
        <input type="file" asp-for="@Model.ImageUrl" class="form-control" aria-required="false"/>
        <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Details", "Rod", new { id = Model.Guid })" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}